/* principal.css */

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100%;
  font-family: "Lucida Sans", sans-serif;
}

/* Tela inicial */
#tela-inicial {
  background-image: url("/img/Captura de tela_1-5-2025_214923_www.pixilart.com.jpeg");
  background-size: cover;
  background-position: center;
}

/* Cabeçalho */
#titulo {
  font-family: "Press Start 2P", cursive;
  color: rgb(252, 245, 245);
  font-size: 1.2rem;
  margin-bottom: 30px;
}

/* carregamento texto */
#carregamento {
  font-family: "Press Start 2P", cursive;
  color: rgb(252, 245, 245);
  font-size: 1.2rem;
  margin-bottom: 30px;
}

@keyframes onda {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

#carregamento span {
  display: inline-block;
  animation: onda 0.2s ease-in-out infinite;
}


/* Tela principal do jogo */
#tela-principal {
  background-image: url("/img/fundo_caatinga.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  flex-direction: column;
}

/* Botão de iniciar */
#btn-iniciar {
  background-color: rgb(255, 250, 115);
  color: rgb(0, 136, 255);
  border: none;
  padding: 20px 40px;
  font-size: 1rem;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Press Start 2P", cursive;
}
#btn-iniciar:hover {
  background-color: rgb(232, 220, 100);
  color: black;
  transform: scale(1.05);
}

/* Céu e chão */
#ceu,
#chao {
  height: 50%;
  width: 100%;
  position: relative;
}

/* Protagonista */
.protagonista {
  position: absolute;
  bottom: 20%;
  left: 4%;
  width: 260px;
  height: auto;
  display: none;
}
.protagonista.relaxado {
  display: block;
}

/* Telas */
.tela {
  display: none;
  width: 100%;
  height: 100%;
}
.tela.ativa {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Info da tela inicial */
.infoInicial {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(99, 96, 96, 0.4);
}

/* Tela de login */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(78, 1, 1, 0.849);
  color: white;
  width: 30%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Formulário */
form {
  display: flex;
  flex-direction: column;
  width: 90%;
}
input,
select {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
label {
  margin-bottom: 7px;
  text-align: left;
  margin-top: 10px;
}
h2,
label {
  font-family: "Courier New", Courier, monospace;
}

/* Botões de login e continuar */
.button-login,
.button-continue {
  width: 100px;
  margin-top: 20px;
  background-color: black;
  color: white;
  padding: 7px;
  border-radius: 7px;
}

.button-login:hover,
.button-continue:hover {
  background-color: #333;
  cursor: pointer;
  transform: scale(1.05);
}

/* Tela de transição */
#transicao {
  background: rgba(0, 0, 0, 0.95);
  color: #fff;
  z-index: 999;
}