/* principal.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  width: 100%;
  font-family: "Lucida Sans", sans-serif;
}
#tela-inicial {
  background-image: url("/img/Captura de tela_1-5-2025_214923_www.pixilart.com.jpeg");
  background-size: cover; /* faz a imagem cobrir tudo */
  background-position: center; /* centraliza a imagem */

  /*Ket: mudei algumas coisinhas aqui pro código rodar */
}

h1 {
  font-family: "Press Start 2P", cursive;
  color: rgb(252, 245, 245);
  font-size: 1.2rem;
  margin-bottom: 30px;
}
#tela-principal {
  background-image: url("/img/fundo_caatinga.png");
  background-size: cover; /* faz a imagem cobrir tudo */
  background-position: center; /* centraliza a imagem */
  background-repeat: no-repeat; /* evita repetição */
  position: relative;
  flex-direction: column;
}
#btn-iniciar {
  background-color: rgb(255, 250, 115);
  color: rgb(0, 136, 255);
  border: none;
  padding: 20px 40px;
  font-size: 1rem;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  /* Fonte pixelizada */
  font-family: "Press Start 2P", cursive;
}
#btn-iniciar:hover {
  background-color: rgb(232, 220, 100);
}
#ceu,
#chao {
  /*Ket: juntei tudo aqui, colocando os seletores em sequência */
  height: 50%;
  width: 100%;
  position: relative;
}

/* Protagonista */
.protagonista {
  position: absolute;
  bottom: 20%; /* Metade do chão */
  left: 4%; /* Perto da esquerda */
  width: 260px;
  height: auto;
  display: none; /* Só uma aparece por vez */
}
/* Exibe o protagonista relaxado */
.protagonista.relaxado {
  display: block;
}
.tela {
  /* configuração geral das telas*/
  display: none;
  width: 100%;
  height: 100%;
}
.tela.ativa {
  /* comportamento da tela quando está ativa*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.infoInicial {
  /* interface do h1 e do botão iniciar jogo*/
  background-color: rgba(0, 0, 0, 0.85);
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(99, 96, 96, 0.4);
}

#transicao {
  background: rgba(0, 0, 0, 0.95);
  color: #fff;
  z-index: 999;
}